.box {
    display: flex;
    min-width: 50vw;
    padding-left: 170px;
    padding-top: 25px;
}

.imageBox {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black
}
.image {
    border-radius: 50%;
}