
.container{
  margin: 3vw 15vw 0;
  text-align: justify;
}

.title{
  color: #38b6ff;
  font-size: 5.5vw;
  display: flex;
  justify-content: center;
  margin-bottom: 4vw;
}

.postsBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.postCard{
  border-radius: 20px;
  border: solid 1px #38b6ff;
  padding: 3vw;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 2vw;
  max-width: 30vw;
}

.postData{
  align-self: flex-end;
}

.socialMediaBox{
  display: flex;
  margin: 4vw 0;
  justify-content: space-between;
  padding: 0 25vw;
}

.socialMediaIcon {
    filter: invert(100%);
    max-width: 2vw;
    transition: .5s;
}
.socialMediaIcon:hover{
  max-width: 3vw;
  transition: 1s;
}

@media only screen and (max-width: 700px) {
  .socialMediaBox{
    display: flex;
    margin-top: 14vw;
    justify-content: space-between;
    margin-bottom: 140vw;
    padding: 0 25vw;
  }
  
  .socialMediaIcon {
      filter: invert(100%);
      max-width: 5vw;

  }
  .socialMediaIcon:hover{
    max-width: 5vw;
  }
}

  