.paleta{
  color: #4169e1;
  color: #4191e1; /* Title */
  color: #2d669d;
  color: #d2e8ff;
  color: #a4d2ff;
}

/*
.btnBox{
  display: flex;
  flex-direction: column-reverse;
}
*/

.container{
  margin: 3vw 10vw 0;
}

.title{
  color: #4191e1;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
}

.experienceCard{
  border: solid 1px #a4d2ff;
  padding: 1vw;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

.btn{
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #4191e1;
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .container{
    margin: 3vw 2.5vw 0;
  }

  .title{
    color: #4191e1;
    font-size: 3.3vw;
    display: flex;
    justify-content: center;
  }

  .experienceCard{
    border: solid 1px #a4d2ff;
    padding: 1vw;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
  }
  
  .btn{
    color: black;
    border: none;
    border-radius: 20px;
    background-color: #4191e1;
    align-self: flex-end;
  }
}

