.paleta {
  color: #4169e1;
  color: #4191e1;
  color: #2d669d;
  color: #d2e8ff;
  color: #a4d2ff;
}

.container {
  margin: 3vw 15vw;
  color: #2d669d  
}

.title {
  color: #2d669d;
  font-family:cursive;
  text-align: center;
  font-size: 5vw;
}

.text {
  margin: 3vw 15vw;
  color: #2d669d  
}

.btn {
  color: #d2e8ff;
  background-color: #4191e1;
  border-color: #2d669d;
  height: 4vw;
  width: 32vw;
  margin: 1vw;
  padding: 1vw;
  font-size: 1.2vw;
}

.company_link{
  color: #2d669d
}

.company_link:hover{
  color: #4191e1;
  text-decoration: underline;
}

.experienceCard{
  color: #2d669d
}